<html>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<body>
<div class = "container p-5 col-lg-8 col-sm-6" id = "actual_container">
	<div id = "container" class="container col-lg-8 col-sm-6">
		<h3>Sign In</h3>
		<p>If you have not created an account yet, then please <a href = "/signup">sign up</a> first.</p>
		<p id = 'error_show'>This will show the error</p>
		<form action = '/login' method = "POST">
		  <div class="form-group pb-1">
			<input required class="form-control mb-4" type="text" name="username" placeholder="Enter a username">
		  </div>
		  <div class="form-group mb-4">
		    <input required class="form-control mb-4" type="password" name="password" placeholder="Enter password">
		  </div>
		  <input id = "login_submit" type="submit" class="btn btn-info  col-12" value = "Sign In">
		</form>
	</div>
</div>

<style>
    body{
        background-color: rgb(245, 245, 245);
        font-family: Lato,SFProText-Regular,Helvetica,Arial,sans-serif;
    }
    #nav a:hover{
        text-decoration: none;
    }
	#actual_container {
		background-color: white;
		border:1px solid lightgray;
   		box-shadow:0px 0px 5px 5px lightgray;
	}
	#error_show{
		visibility: hidden;
		font-size:13px;
		padding: 0px;
		margin:auto;
		color:red;
		margin:-2px 0px 2px 10px;
	}
	h3, p{
		text-align: center;
	}
</style>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>