<html>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<body>
<div class = "container p-5 col-lg-8 col-sm-8" id = "actual_container">
	<div id = "container" class="container col-lg-8 col-sm-6">
		<h3>Sign Up</h3>
		<p>Already have an account? Then please <a href = "/signin" >sign in</a>.</p>
		<form action = '/signup' method = "POST">
		<p id = "username_error" class = 'error-show'>here comes username error</p>
		<div class="form-group mb-1">
			<input required class="form-control mb-4" type="text" name="username" placeholder="Enter a username">
		</div>
		<p id = "password_error" class = 'error-show'>here comes password error</p>
		<div class="form-group mb-1">
			<input required class="form-control mb-4" type="text" name="password" placeholder="Enter a password">
		</div>
		<p id = "confirm_password_error" class = 'error-show'>here comes confirm_password error</p>
		<div class="form-group">
			<input required class="form-control mb-4" type="text" name="confirmPassword" placeholder="Enter the password again">
		</div>
		<input type="submit" class="btn btn-info mt-2 col-12" value = "Sign Up" id = "signup"></input>
		</form>
	</div>
</div>

<style>
    body{
        background-color: rgb(245, 245, 245);
        font-family: Lato,SFProText-Regular,Helvetica,Arial,sans-serif;
    }
    #nav a:hover{
        text-decoration: none;
    }
	#actual_container {
		background-color: white;
		border:1px solid lightgray;
   		box-shadow:0px 0px 5px 5px lightgray;
	}
	#username_error,#password_error, #confirm_password_error{
	    visibility: hidden;
		font-size:12px;
		padding: 0px;
		margin:auto;
		color:red;
		margin:-4px 0px 2px 10px;
	}
	h3, p{
		text-align: center;
	}
	#login_submit{
		width:100%;
	}
</style>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>